* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  h1 {
      text-align: center;
  }

  .bg-image {
    position: relative;
    background-image: url("stage1/image3.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blur {
    background: rgba(255, 255, 255, 0.2);
    height: 100vh;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .unblurTransition {
    transition-duration: 4s;
  }
  
  #image-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .stage {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .image {
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 2px solid gray;
    display: block;
    width: 180px;
    height: 180px;
    overflow: hidden;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
    border-radius: 180px;
    position: relative; 
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
    border: 3px solid #FFF;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
  }
  
  .selected {
    border-color: blue;
  }

  .title {
    font-size: 100px;
  }

  .result-row {
    display: flex;
    
  }

  .result {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    flex-direction: column;
    display: block;
    text-align: center;
    height: calc(100vw / 6 * 1.5);
    font-size: 100px;
    visibility: hidden;
  }
  